@using NancyStack.Razor
@using NancyStack.Sample.Handlers
@inherits View<FormViewModel>
@Html.BeginForm(new FormInputModel())
<div>
    @Html.Label(x => x.Name)
    @Html.Input(x => x.Name)
    @Html.ValidationMessage(x => x.Name)
    @Html.Submit("Submit")
</div>
@Html.EndForm()